<!DOCTYPE html>
<html>
<head>
    <%- include ("./head.ejs") %>
</head>
<body>
    <%- include ("./nav.ejs") %>
    <div class="container">
        <div class="form-group">
            <label for="inputUser">작성자</label>
            <input 
                disabled type="text" class="form-control" id="inputUser" 
                value="<%= post.email %>" />
        </div>
        <div class="form-group">
            <label for="inputTitle">제목</label>
            <input 
                disabled type="text" class="form-control" id="inputTitle" 
                value="<%= post.title %>" />
        </div>
        <div class="form-group">
            <label for="inputContents">내용</label>
            <textarea 
                disabled class="form-control" id="inputContents" 
                rows="10"><%= post.contents %></textarea>
        </div>
        <a href="/posts">
            <button type="button" class="btn btn-primary">목록보기</button>
        </a>
        <% if (post.user_id == user.id) { %>
            <a href="/post/edit/<%= post.post_id %>">
                <button type="button" class="btn btn-secondary">수정</button>
            </a>
            <a href="/post/delete/<%= post.post_id %>">
                <button type="button" class="btn btn-danger">삭제</button>
            </a>
        <% } %>
    </div>
</body>
</html>